* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  position: relative;
  margin: 20px 0;
  padding: 30px;
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  overflow: hidden;
  transition: .3s ease;
}
.faq.active {
  background-color: rgb(255 255 255 /50%);
  box-shadow: 0 3px 6px rgb(0 0 0 /10%), 0 3px 6px rgb(0 0 0 /10%);
}

.faq.active::before,
.faq.active::after {
  content: '🗨';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 10px;
  left: 20px;
  z-index: -1;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -10px;
  transform: rotateY(180deg);
}

.faq-title {
  margin-right: 30px;
}

.faq-text {
  display: none;
  margin-top: 30px;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}

.faq-toggle:focus {
  outline: none;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}
